{% load static %}
<!-- Footer -->
<div class="custom-container">
    <div class="container">
        <div class="login-footer">
            <div class="footer">
                <p>Sorularınız mı var? 0850-390-7444 numaralı telefonu arayın</p>
                <div class="row">
                    <div class="col-md-3">
                        <ul>
                            <li><a href="">SSS</a></li>
                            <li><a href="">Çerez Tercihleri</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><a href="">Yardım Merkezi</a></li>
                            <li><a href="">Kurumsal Bilgiler</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><a href="">Kullanım Koşulları</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><a href="">Gizlilik</a></li>
                        </ul>
                    </div>
                </div>
                <div class="select pt-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Türkçe</option>
                        <option value="1">İngilizce</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer Bitiş -->