{% load static %}
<hr>
<div class="container-fluid">
    <p>Sorularınız mı var? 0850-390-7444 numaralı telefonu arayın</p>
    <div class="custom-row">
        <div class="col-sm-4">
            <ul>
                <li><a href="#">SSS</a></li>
                <li><a href="#">Medya Merkezi</a></li>
                <li><a href="#">Hediye Kartı Kullan</a></li>
                <li><a href="#">Gizlilik</a></li>
                <li><a href="#">Bize Ulaşın</a></li>
                <li><a href="#">Sadece Netflix'te</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li><a href="#">Yardım Merkezi</a></li>
                <li><a href="#">Yatırımcı İlişkileri</a></li>
                <li><a href="#">İzleme Yolları</a></li>
                <li><a href="#">Çerez Tercihleri</a></li>
                <li><a href="#">Hız Testi</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li><a href="#">Hesap</a></li>
                <li><a href="#">İş İmkanları</a></li>
                <li><a href="#">Kullanım Koşulları</a></li>
                <li><a href="#">Kurumsal Bilgiler</a></li>
                <li><a href="#">Yasal Hükümler</a></li>
            </ul>
        </div>
    </div>
    <div class="select pt-4">
        <select class="form-select" aria-label="Dil Seçimi">
            <option selected>Türkçe</option>
            <option value="1">İngilizce</option>
        </select>
    </div>
    <div class="footer-text pt-2 pb-3">
        <p>Netflix Türkiye</p>
    </div>
</div>
